.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.column ul {
  margin-left: 0;
}
.column label,
.column input {
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.error {
  color: red;
}
