@import url('~simpledotcss/simple.min.css');

body {
  font-size: 0.9rem;
}
main {
  padding: 0;
}
input {
  box-sizing: border-box;
}
input,
textarea,
select {
  width: 100%;
  border-radius: 0;
  margin: 0;
}
button {
  border-radius: 0;
  font-size: 0.9rem;
}
.login-form {
  margin: 0 auto;
  max-width: 480px;
  padding: 32px;
  background: rgb(45, 45, 45);
  margin-top: 40px;
}
.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.login-button {
  margin-top: 24px;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.nav > a {
  text-decoration: none;
  margin: 0;
  border-radius: 0;
}
nav {
  position: relative;
}
.user-menu {
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 2;
  padding: 16px 16px 16px 32px;
  display: flex;
  flex-direction: column;
  background: rgb(65, 65, 65);
}
.user-menu-item {
  cursor: default;
  border-radius: 0;
}
.dragArea {
  width: 100%;
}
.list-body {
  background: rgb(45, 45, 45);
  padding: 8px;
}
.list-header {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 6fr 8fr 3fr 3fr;
  border-bottom: 1px solid #fff;
  align-items: center;
}
.list-group-item {
  width: 100%;
  cursor: default;
  display: grid;
  grid-template-columns: 6fr 8fr 3fr 3fr;
  column-gap: 8px;
  margin: 8px 0;
  user-select: none;
}
.list-group-item:hover {
  background: rgb(65, 65, 65);
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
}
.housework-input-area,
.housework-edit-area,
.housework-detail-area,
.category-input-area,
.category-list-area {
  margin: auto;
  width: 500px;
  background: rgb(45, 45, 45);
  padding: 16px;
}
.modal > .housework-input-area > label {
  padding: 16px 0 0;
}
#category-list {
  max-height: 40vh;
  overflow: auto;
  list-style: none;
  padding-left: 8px;
  padding-bottom: 24px;
}
.housework-cycle > select {
  width: 15%;
  margin-right: 8px;
}
.item-menu-icon {
  position: relative;
}
.item-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  background: rgb(65, 65, 65);
}
.item-menu > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 8px 0;
}
.item-menu > ul > li {
  list-style: none;
}
.error-message {
  color: red;
}
.store-button-area {
  min-height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category-list-item {
  position: relative;
  padding: 8px 8px 8px 16px;
}
.category-list-item > .trash-icon-wrapper {
  position: absolute;
  top: 0;
  left: -8px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.category-list-item > .invalid {
  outline: solid 1px rgb(255, 108, 108);
}
.category-list-item > .valid {
  outline: solid 1px rgb(108, 255, 155);
}
.category-input {
  border: none;
  background: rgb(45, 45, 45);
  margin: 0;
}
.category-input:hover {
  border-bottom: solid 1px rgb(161, 161, 161);
  box-sizing: border-box;
  padding-bottom: 7px;
}
.category-input:focus {
  outline: none;
}
.category-item-tooltip {
  z-index: 4;
  position: absolute;
  top: 40px;
  left: 40px;
  background: rgb(65, 65, 65);
  padding: 8px;
}
.cycle,
.next-date,
.schedule,
.category-name > mark {
  font-size: 0.7rem;
}
.schedule {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bars-wrapper {
  padding: 8px;
  display: flex;
  align-items: center;
}
.trash-icon {
  color: rgb(244, 128, 128);
  font-size: 1.1rem;
}
.show-housework-title,
.show-housework-comment,
.show-housework-next-date,
.show-housework-archives {
  background: rgb(65, 65, 65);
  padding: 4px;
  margin-bottom: 16px;
}
.modal-header {
  display: flex;
  justify-content: end;
}
.xmark-wrapper {
  height: 32px;
  width: 32px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.xmark-wrapper:hover {
  background: rgb(65, 65, 65);
}
.xmark {
  font-size: 1.2rem;
}
.date-picker {
  margin: 8px 0;
}
.is-over-date {
  color: red;
}
.is-over-date-soon {
  color: orange;
}
.cancel-button {
  background: rgb(128, 128, 128);
}
.delete-button {
  background: rgb(244, 128, 128);
}
.list-title {
  cursor: default;
  user-select: none;
  display: flex;
  flex-direction: row;
}
.reset-order {
  cursor: default;
  user-select: none;
  height: 24px;
}
.archive-date {
  margin: 0 16px 0 0;
  height: 36px;
  display: flex;
  align-items: center;
}
.archive-date-edit {
  position: relative;
}
.archive-icons-wrapper {
  position: absolute;
  right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 48px;
}
.circle-check-icon {
  color: rgb(108, 255, 155);
  font-size: 1.1rem;
}
.archive-list-item:hover {
  background: rgb(78, 78, 78);
}
.profile-item {
  display: grid;
  grid-template-columns: 3fr 9fr;
  height: 36px;
}
.profile-item-label,
.profile-item-value {
  display: flex;
  align-items: center;
}
.profile-item-value-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.birth-input {
  width: 75%;
  min-width: 240px;
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  grid-gap: 8px;
}
.year-select,
.month-select,
.day-select {
  display: flex;
  align-items: center;
}
.invalid {
  border: solid 1px red;
}
.zipcode1-input {
  width: 54px;
  text-align: center;
}
.zipcode2-input {
  width: 64px;
  text-align: center;
}
.logout:hover {
  color: #ffb300;
}
.characters-length {
  font-size: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.full {
  color: rgb(149, 149, 149);
}
.warning {
  color: orange;
}
.category-select {
  margin-bottom: 16px;
}
.show-housework-archives {
  max-height: 108px;
  overflow: scroll;
}
.calendar-root .calendar-month > .event-flyout {
  width: 500px !important;
  max-height: 300px !important;
  overflow: scroll !important;
  background: rgb(45, 45, 45);
}
.event-dialog-content {
  padding: 16px;
}
.event-dialog-content > .modal-header > .xmark-wrapper {
  height: 24px;
  width: 24px;
}
.toggle-button {
  padding: 8px;
}
.calendar-root-wrapper .calendar-root {
  max-height: 600px;
}
