@import url('~simpledotcss/simple.min.css');

body {
  font-size: 0.9rem;
}
main {
  padding: 0;
}
.login-form {
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.nav > a {
  text-decoration: none;
  margin: 0;
}
.user-menu {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 2;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.housework-title {
  font-size: 0.7rem;
}
